.media__section-container {
  padding: 10vh 5vw 15vh 5vw;
  background-color: #f4f6f6;
  border-radius: 0 0 3vw 0;
}
.media__section-header {
  text-align: center;
  font-size: 6vw;
  color: #003764;
  font-family: "Gill Sans";
  font-weight: bold;
  letter-spacing: 0.2em;
}
.media__section-tabs-container {
  padding-top: 2vh;
  width: 90vw;
  margin: 0 auto;
}

.media__section-tabs-container .react-tabs__tab-list {
  border: none;
  padding-bottom: 2vh;
  text-align: center;
}
.media__section-tabs-container .react-tabs__tab {
  border: transparent;
  margin: 0 2vw 0 auto;
  font-family: "Gill Sans";
  font-size: 1.2vw;
  color: #004874;
  padding: 1vh 0;
  background-color: transparent;
}
.media__section-tabs-container .react-tabs__tab--selected {
  border-bottom: 2px solid #5cc5df;
}
.media__section-tabs-container .react-tabs__tab-panel {
  background-color: white;
}

.media__section-container .section-container {
  padding: 0;
  text-align: left;
}
.media__section-container .row {
  padding: 10vh 0;
}
.media__section-container .section-img-mask {
  display: none;
}
.media__section-container .section-heading {
  font-size: 2.5vw;
  letter-spacing: normal;
}
.media__section-container .section-img-wrapper .section-img {
  max-width: 100%;
}
.media__section-container .section-btn {
  padding: 1vh 5vw 1vh 2vw;
  border-radius: 15px 30px 30px 0;
  border: 1px solid #d5d5d5;
  text-align: left;
  background-color: transparent;
  color: #d5d5d5;
  font-family: "Gill Sans";
  word-spacing: 0.2vw;
  font-size: 1vw;
}
.media__section-container .section-btn .btn-img {
  vertical-align: middle;
  transform: translate(4.5vw, 0px);
  border: 1px solid #eeeeee;
  border-radius: 50%;
  padding: 0.7vw;
  background-color: #eeeeee;
  display: inline-block;
  width: auto;
}
.media__section-container .section-text-wrapper {
  transform: translate(0);
}

@media screen and (max-width: 450px) {
  .media__section-container .section-container {
    padding-bottom: 4vh;
  }
  .media__section-header {
    font-size: 10vw;
    letter-spacing: 0.1em;
  }
  .media__section-tabs-container .react-tabs__tab {
    margin: 0 4vw 0 auto;
    font-family: "Gill Sans";
    font-size: 4vw;
  }

  .media__section-container .section-btn {
    order: 4;
    font-size: 3vw;
    padding: 1vh 5vw 1vh 3vw;
    width: 50vw;
    margin: 0 auto;
  }
  .media__section-container .section-btn .btn-img {
    transform: translate(18vw, 0px);
    padding: 2vw;
  }
  .media__section-container .section-header-container {
    order: unset;
  }
  .media__section-container .section-img-wrapper {
    order: -1;
  }
  .media__section-container .section-heading {
    font-size: 5vw;
    font-weight: bold;
    padding: 0 2vw 5vh;
    text-align: center;
    line-height: 3.5vh;
  }
  .media__section-container .section-subHeading {
    padding: 0;
  }
  .media__section-container .section-description {
    display: none;
  }
}
