.section-container {
  padding: 10vh 0 15vh 0;
}
.section-row {
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.col {
  margin-bottom: 1vh;
  padding: 0 1vw;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.section-text-wrapper {
  max-width: 31.5vw;
  padding-top: 0;
  padding-bottom: 2vh;
  transform: translate(0px, 7vh);
}
.section-heading {
  color: #003c6c;
  font-size: 4vw;
  font-family: "Gill Sans";
  font-weight: bold;
  letter-spacing: 0.1em;
}
.section-subHeading {
  color: #4db5d7;
  font-size: 4vw;
  font-family: "Gill Sans";
  font-weight: lighter;
}
.section-description {
  color: #003c6c;
  font-size: 1.2vw;
  padding-top: 3vh;
  font-family: "Calibri";
}
.section-description-two {
  padding-bottom: 5vh;
}
.section-img-wrapper {
  max-width: 30vw;
  position: relative;
}
.section-img-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(-1.5vw, 18.5vh);
  background-color: #eeeeee;
  z-index: -1;
  height: 55vh;
}
.section-img-wrapper .section-img {
  max-width: 80%;
  padding-right: 0;
  margin: 0 0 0 1.5vw;
}
.section-btn {
  padding: 1vh 5vw 1vh 2vw;
  border-radius: 15px 30px 30px 0;
  border: 1px solid #d5d5d5;
  text-align: left;
  background-color: transparent;
  color: #d5d5d5;
  font-family: "Gill Sans";
  word-spacing: 0.2vw;
  font-size: 1vw;
}
.section-btn .btn-img {
  vertical-align: middle;
  transform: translate(4.5vw, 0px);
  border: 1px solid #eeeeee;
  border-radius: 50%;
  padding: 0.7vw;
  background-color: #eeeeee;
}

@media screen and (max-width: 450px) {
  .col {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    max-width: 100%;
  }
  .section-container {
    padding: 10vw;
  }
  .section-heading {
    display: inline-block;
    font-size: 7vw;
  }
  .section-subHeading {
    display: inline-block;
    padding-left: 1vw;
    font-size: 7vw;
  }
  .section-img-wrapper {
    order: 1;
    max-width: 100%;
    text-align: center;
    padding: 5vh 0;
  }
  .section-img-wrapper .section-img {
    max-width: 70%;
  }
  .section-img-mask {
    transform: translate(1vw, 20vh);
    height: 35vh;
  }
  .section-description {
    order: 0;
    font-size: 4vw;
    font-weight: 100;
  }
  .section-description-two {
    order: 3;
    font-size: 4vw;
    font-weight: 100;
    padding-top: 5vh;
  }
  .section-btn {
    order: 4;
    font-size: 3vw;
    padding: 1vh 5vw 1vh 3vw;
    width: 50vw;
  }
  .section-btn .btn-img {
    transform: translate(18vw, 0px);
    padding: 2vw;
  }
}
